---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
---

<section class="relative   ">
  <Container>





   

    <div class="w-full flex  mx-auto  py-5  px-2   flex-col md:flex-row  bg-teal-500 rounded-md m-3 shadow-md ">


  <img class="w-full md:w-2/5 hover:scale-105" src=" https://s6.imgcdn.dev/V06U8.webp"> 



    
    <div class="p-2 w-full md:w-2/5   mx-3 my-2 text-right  ">

     
      <h2 class="   m-3 font-bold ">كوبون الربح الاساسي</h2 >
        <ul class="mt-8 space-y-4 text-heading-3 font-medium text-white ">
          <li>
            25 يوم لنسخ الصفقات  <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
          </li>
          <li>
            250$ مكافأة  <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>  
          </li>
          <li>
            250$ عائد دعوة الاصدقاء  <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
           </li>
         
      </ul>
      <button class=" transition ease-in-out delay-150 rounded-full px-7 bg-slate-100 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-300 duration-300 m-5">
        شراء
       </button>
    </div>


</div>




    <div
    class="w-full flex  mx-auto  py-5  px-2 border border-bg-teal-500  flex-col-reverse  md:flex-row  rounded-md shadow-md"
  >
  <div class="p-2 w-full md:w-3/5 mx-3 my-2 text-right ">
    
    <h2 class="   m-3 font-bold ">  كوبون الربح المتقدم  </h2 >

      <ul class="mt-8 space-y-4 text-heading-3 font-medium ">
        <li>
        50 يوم لنسخ الصفقات <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
        </li>
        <li>
        700$ مكافأة <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
        </li>
        <li>
        500$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
        </li>
    </ul>


    <button class=" transition ease-in-out delay-150 rounded-full px-7  bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-300 duration-300 m-5">
      شراء
     </button>
  </div>
  
  <img class="w-full md:w-2/5  hover:scale-105" src=" https://s6.imgcdn.dev/V0w6y.webp"> 
    </div>
  </div>















    <div
    class="w-full flex  flex-col md:flex-row  my-2  py-5  px-2   bg-teal-500 rounded-md "
  >

  <img class="w-full md:w-2/5 hover:scale-105" src=" https://s6.imgcdn.dev/V0cpi.webp"> 

  <div class="p-2 w-full md:w-2/5   mx-3 my-2 text-right  ">
  <h2 class="   m-3 font-bold ">   كوبون ارباح النخبه   </h2 >

  
    <ul class="mt-8 space-y-4 text-heading-3 text-white font-medium">
      <li>
        يوم لنسخ الصفقات 90  <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
       </li>
       <li>
        1200$ مكافأة  <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
       <li>
        700$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
     
  </ul>
 
  <button class=" transition ease-in-out delay-150 rounded-full px-7 bg-slate-100 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-300 duration-300 m-5">
    شراء
   </button>
 </div>
</div>

    </div>
 






















  <div
  class="w-full flex  flex-col-reverse md:flex-row mx-auto py-5 px-2 border border-teal-500  rounded-md"
>
<span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>

<div class="p-2 w-full md:w-3/5 mx-3 my-2 text-right">
  <h2 class="   m-3 font-bold "> الثروة الشاملة  </h2 >
    <ul class="mt-8 space-y-4 text-heading-3 font-medium">
      <li>
        150 يوم لنسخ الصفقات <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
       </li>
       <li>
        2000$ مكافأة <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
       <li>
      1000$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
  </ul>


  <button class=" transition ease-in-out delay-150 rounded-full px-7  bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-300 duration-300 m-5">
    شراء
   </button>
</div>

<img class="w-full md:w-2/5  hover:scale-105" src="  https://s6.imgcdn.dev/V0MV2.webp"> 

</div>

  


</div>

</div>
</div>
</div>
  </Container>
  
</section>
