---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
---

<section class="relative">
  <Container>
    <div dir="rtl"
      class="w-100 flex mx-5 md:mx-20 my-3 py-5 flex-col md:flex-row-reverse bg-indigo-800 rounded-md shadow-md"
    >
      <img
        class="w-full ms:w-full md:w-3/5 hover:scale-105"
        src=" https://s6.imgcdn.dev/V06U8.webp"
      />
      <div class="p-2 w-full md:w-2/5 mx-3 my-2 text-right m-3">
        <span
          class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
          >كوبون الربح الاساسي</span
        >

        <p class="m-3 text-white">
          استثمر 500 دولار واحصل على مكافأة فورية بقيمة 250 دولار. استمتع بأدوات  نسخ التداول الأساسية وتجربة خالية من المخاطر لمدة 25 يومًا!"

        </p>

        <ul class="mt-8 space-y-4 font-medium text-white text-xs justify-end">
          <li class="">
            <span
              class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              مدة نسخ الصفقات <span class="text-md">25 يوم</span>
            </span>

            <span
              class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 250$</span> مكافأة</span
            >
            <span
              class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 250$</span>عائد دعوة الاصدقاء
            </span>
            <span
              class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
        </ul>
        <Button
          variant={"primary"}
          className={"min-w-max text-dark hover:text-white bg-white  hover:bg-indigo-500 m-3"}
          
        >
          <span class="hidden sm:flex relative z-[5]"><a href="https://wa.me/201063588999">اشترك</a> </span>
          <span class="flex sm:hidden relative z-[5]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              ></path>
            </svg>
          </span>
        </Button>
      </div>
    </div>

    <div dir="rtl"
      class="w-100 flex mx-5 md:mx-20 py-5 px-2 border border-indigo-500 flex-col md:flex-row-reverse rounded-md shadow-md justify-center"
    >
      <img
        class="w-full md:w-3/5 hover:scale-105"
        src=" https://s6.imgcdn.dev/V0w6y.webp"
      />

      <div class="p-2 w-full md:w-3/5 mx-3 my-2 text-right m-3">
        <span
          class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
        >
          كوبون الربح المتقدم
        </span>
<p class="m-3 text-indigo-800">
    60 يومًا من نسخ التداول الآلي: احصل على شهرين كاملين من إشارات التداول الحصرية، والتي تضبطك على طريق الأرباح المستمرة.
  </p>

  <p class="m-3 text-indigo-800">
    استرداد نقدي بنسبة 75%: استمتع باسترداد نقدي سخي بنسبة 75٪ على إيداعك الأولي، مما يعزز قوة تداولك.
  </p>

  <p class="m-3 text-indigo-800">
    مكافأة الإحالة: اكسب 500 دولارًا أمريكيًا مقابل كل صديق تحيله يقوم بإيداع. سيحصل صديقك أيضًا على 500 دولارًا أمريكيًا استرداد نقدي و60 يومًا من نسخ التداول الآلي.
  </p>

  <p class="m-3 text-indigo-800">
    ارتقِ بتداولك إلى مستوى النخبة مع حزمة كوبون الربح المتقدم واخترق حدود الأرباح المحتملة.
  </p>

        <ul
          class="mt-8 space-y-4 font-medium text-indigo-800 text-xs justify-end"
        >
          <li class="">
            <span
              class="p-2 bg-indigo-800 text-indigo-100 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              مدة نسخ الصفقات <span class="text-md">60 يوم</span>
            </span>

            <span
              class="font-bold bg-indigo-800 rounded-full w-8 h-8 mr-3 text-indigo-100 inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="p-2 bg-indigo-800 text-indigo-100 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 500$</span> مكافأة</span
            >
            <span
              class="font-bold bg-indigo-800 rounded-full w-8 h-8 mr-3 text-indigo-100 inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="p-2 bg-indigo-800 text-indigo-100 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 500$</span>عائد دعوة الاصدقاء
            </span>
            <span
              class="font-bold bg-indigo-800 rounded-full w-8 h-8 mr-3 text-indigo-100 inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
        </ul>
        <Button variant={"primary"} className={"min-w-max text-white "}>
          <span class="hidden sm:flex relative z-[5]"> <a href="https://wa.me/201063588999">اشترك</a></span>
          <span class="flex sm:hidden relative z-[5]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              ></path>
            </svg>
          </span>
        </Button>
      </div>
    </div>

    <div dir="rtl"
      class="w-100 flex mx-5 md:mx-20 my-3 py-5 flex-col md:flex-row-reverse bg-indigo-800 rounded-md shadow-md"
    >
      <img
        class="w-full ms:w-full md:w-3/5 hover:scale-105"
        src=" https://s6.imgcdn.dev/V0cpi.webp"
      />
      <div class="p-2 w-full md:w-2/5 mx-3 my-2 text-right m-3">
        <span
          class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
          >كوبون ارباح النخبه</span
        >

        <span class="m-3 text-white">
<p>
      احصل على فترة استثنائية من 90 يومًا من نسخ التداول الآلي، تقدم إشارات حصرية لتحسين ربحيتك على مدار الفترة.
    </p>
    <p>
      استمتع بميزة استرداد نقدي بنسبة 75٪ على إيداعك الأولي. هذا العرض السخي يساعدك على تعزيز رأس المال الخاص بك لتحقيق مكاسب أكبر.
    </p>
    <p>
      احصل على مكافأة الإحالة السخية بقيمة 700 دولار أمريكي عندما تقوم بإحالة صديق. صديقك أيضًا سيستفيد من مكافأة استرداد نقدي بقيمة 700 دولار أمريكي و90 يومًا من نسخ التداول الآلي.
    </p>
    <p>
      ارتقِ بتداولك إلى مستوى النخبة مع حزمة كوبون ارباح النخبه. استغل الفرص المتاحة وحقق أقصى استفادة من إمكانيات الربح.
    </p>
        </span>

        <ul class="mt-8 space-y-4 font-medium text-white text-xs justify-end">
          <li class="">
            <span
              class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              مدة نسخ الصفقات <span class="text-md">90 يوم</span>
            </span>

            <span
              class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 1500$</span> مكافأة</span
            >
            <span
              class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 700$</span>عائد دعوة الاصدقاء
            </span>
            <span
              class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
        </ul>
        <Button
          variant={"primary"}
          className={"min-w-max text-dark hover:text-white bg-white  hover:bg-indigo-500 m-3"}
        >
          <span class="hidden sm:flex relative z-[5]"> <a href="https://wa.me/201063588999">اشترك</a></span>
          <span class="flex sm:hidden relative z-[5]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              ></path>
            </svg>
          </span>
        </Button>
      </div>
    </div>

    <div dir="rtl"
      class="w-100 flex mx-5 md:mx-20 py-5 px-2 border border-indigo-500 flex-col md:flex-row-reverse rounded-md shadow-md justify-center"
    >
      <img
        class="w-full ms:w-full md:w-3/5 hover:scale-105"
        src=" https://s6.imgcdn.dev/V0yll.webp"
      />

      <div class="p-2 w-full md:w-3/5 mx-3 my-2 text-right m-3">
        <span
          class="bg-indigo-100 text-indigo-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
        >
        كوبون الثروة الشاملة
        </span>

 <div class="coupon-description m-3 text-indigo-800">
    <p>
      احصل على أفضل فرص التداول مع كوبون الثروة الشاملة الذي يقدم لك فترة استثنائية تصل إلى 150 يومًا من نسخ التداول الآلي. هذه الفترة الممتدة توفر لك الوقت الكافي لاستكشاف إمكانيات الأرباح الكبيرة.
    </p>
    <p>
      استمتع بميزة استرداد نقدي بنسبة 75٪ على إيداعك الأولي. هذا العرض الخاص يعزز رأس المال الخاص بك ويسهم في تحقيق أرباح استثنائية.
    </p>
    <p>
      اجعل التجربة أكثر إثارة من خلال مكافأة الإحالة الكبيرة. اكسب 1000 دولار أمريكي عندما تحيل صديقًا، وسيحصل صديقك أيضًا على 1000 دولار أمريكي استرداد نقدي و150 يومًا من نسخ التداول الآلي.
    </p>
    <p>
      ارتقِ بتداولك إلى مستوى النخبة مع حزمة الثروة الشاملة. اخترق حدود الأرباح واستمتع بمزايا فريدة لتعزيز نجاحك في عالم التداول.
    </p>
  </div>

        <ul
          class="mt-8 space-y-4 font-medium text-indigo-800 text-xs justify-end"
        >
          <li class="">
            <span
              class="p-2 bg-indigo-800 text-indigo-100 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              مدة نسخ الصفقات <span class="text-md">150 يوم</span>
            </span>

            <span
              class="font-bold bg-indigo-800 rounded-full w-8 h-8 mr-3 text-indigo-100 inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="p-2 bg-indigo-800 text-indigo-100 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 2000$</span> مكافأة</span
            >
            <span
              class="font-bold bg-indigo-800 rounded-full w-8 h-8 mr-3 text-indigo-100 inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
          <li class="">
            <span
              class="p-2 bg-indigo-800 text-indigo-100 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400"
            >
              <span class="text-md"> 1000$</span>عائد دعوة الاصدقاء
            </span>
            <span
              class="font-bold bg-indigo-800 rounded-full w-8 h-8 mr-3 text-indigo-100 inline-flex justify-center items-center m-2"
              >&checkmark;</span
            >
          </li>
        </ul>
        <Button variant={"primary"} className={"min-w-max text-white "}>
          <span class="hidden sm:flex relative z-[5]"> <a href="https://wa.me/201063588999">اشترك</a></span>
          <span class="flex sm:hidden relative z-[5]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              ></path>
            </svg>
          </span>
        </Button>
      </div>
    </div>
  </Container>
</section>
