---
import Container from "../shared/Container.astro";
import Button from "../shared/Button.astro";
---

<section class="relative   ">
  <Container>




<div class="flex flex-col md:flex-row"></div>
   

    <div class="w-full flex  mx-auto  py-5  px-2">


  <img class="w-2/5 hover:scale-105" src=" https://s6.imgcdn.dev/V06U8.webp"> 



    
    <div class="p-2 w-3/5 mx-3 my-2 text-left">

     
      <h2 class="   m-3 font-bold ">كوبون الربح الاساسي</h2 >
        <ul class="mt-8 space-y-4 text-heading-3 font-medium">
          <li>
           25 |يوم لنسخ الصفقات <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
          </li>
          <li>
           250$ مكافأة <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
          </li>
          <li>
          250$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
          </li>
         
      </ul>
      <button class=" transition ease-in-out delay-150 rounded-full px-7 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ...">
       شراء
      </button>
  
    </div>


</div>




    <div
    class="w-full flex  mx-auto  py-5  px-2 border border-indigo-600"
  >
  <div class="p-2 w-3/5 mx-3 my-2 text-right">
    
    <h2 class="   m-3 font-bold ">  كوبون الربح المتقدم  </h2 >
      <ul class="mt-8 space-y-4 text-heading-3 font-medium">
        <li>
        50 يوم لنسخ الصفقات <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
        </li>
        <li>
        700$ مكافأة <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
        </li>
        <li>
        500$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
        </li>
       
    </ul>
    <button class=" transition ease-in-out delay-150 rounded-full px-7 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 ...">
     شراء
    </button>
  </div>
  
  <img class="w-2/5 hover:scale-105" src=" https://s6.imgcdn.dev/V0w6y.webp"> 
    </div>
  </div>















    <div
    class="w-full flex justifiy-center mx-auto  py-5  px-2  "
  >

  <img class="w-2/5 hover:scale-105" src=" https://s6.imgcdn.dev/V0cpi.webp"> 

<div class="p-2 w-3/5 mx-3 my-2">
  <h2 class="   m-3 font-bold ">   كوبون ارباح النخبه   </h2 >

  
    <ul class="mt-8 space-y-4 text-heading-3 font-medium">
      <li>
        90 يوم لنسخ الصفقات <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
       </li>
       <li>
        1200$ مكافأة <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
       <li>
      700$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
     
  </ul>
  <Button variant={"primary"} className={"min-w-max text-white"}>
    <span class="hidden sm:flex relative z-[5]">
       إبدأ الآن 
    </span>
    <span class="flex sm:hidden relative z-[5]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
        </svg>                                      
    </span>
</Button>
</div>

    </div>
 






















  <div
  class="w-full flex  mx-auto py-5 px-2 border border-indigo-600"
>
<span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>

<div class="p-2 w-3/5 mx-3 my-2 text-right">
  <h2 class="   m-3 font-bold "> الثروة الشاملة  </h2 >
    <ul class="mt-8 space-y-4 text-heading-3 font-medium">
      <li>
        150 يوم لنسخ الصفقات <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span>
       </li>
       <li>
        2000$ مكافأة <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
       <li>
      1000$ عائد دعوة الاصدقاء <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
       </li>
  </ul>



</div>

<img class="w-2/5 hover:scale-105" src="  https://s6.imgcdn.dev/V0MV2.webp"> 

</div>

  


</div>
</div>
</div>
  </Container>
  
</section>
