---
import Layout from "../layouts/Layout.astro";
import Swip from "../components/sections/Swip.vue";
---

<Layout title="Welcome to AgenceX">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
        <Swip/ client:only>
    </main>
</Layout>
