---
import Layout from "../layouts/Layout.astro";
import Hero2 from "../components/sections/Hero2.astro";
import Cards1 from  "../components/sections/Cards1.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Swip from "../components/sections/Swip.vue";
import AboutUs from "../components/sections/AboutUs.astro";
---

<Layout title="Welcome to AgenceX">
    <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
           
       
<Hero2/>

<Cards1/>
    </main>


    <Swip/ client:only>
</Swip>
   
</Layout>



